.site-wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.btn {
    display: inline-block;
    background: $blue;
    color: $white;
    padding: 10px 15px;
    font-size: $small-font-size;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: .075em;
    border-bottom: 2px solid darken($blue, 10%);
    &:hover,
    &:focus,
    &:active,
    &:visited {
        color: $white;
    }
}

.btn-sm {
    font-size: $smaller-font-size;
    padding: 8px 12px;
}

.btn-soon {
    background: $grey-color;
    border-color: $grey-color-dark;
    &:hover,
    &:focus,
    &:active {
        cursor: no-drop;
        text-decoration: none;
    }
}

/**
 * Site header
 */
.site-header {
    min-height: 56px;
    padding: 0 0 $spacing-unit*2 0;
    text-align: center;

    // Positioning context for the mobile navigation icon
    position: relative;
    background: $blacker;

    h1 {
        font-size: $base-font-size*1.5;
        margin-bottom: 0;

        @include media-query($on-laptop) {
            font-size: $base-font-size;
        }
    }
}

.site-title {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;
}

.top-links {
    padding-bottom: $spacing-unit;
    text-align: right;

    .btn {
        background: $red;
        border-color: darken($red, 10%);
    }
}

.brand {
    display: block;
    margin: 0 auto $spacing-unit auto;
}



/**
 * Home Page
 */
.home-page-content {
    float: left;
    background: $red;
    color: $white;
}

.img-row {
    img {
        width: 20%;
        float: left;

        @include media-query($on-laptop) {
            width: 50%;
        }
    }
}

@include media-query($on-laptop) {
    .hide-laptop {
        display: none;
    }
}

.info {
    padding: $spacing-unit*2 15px;
}

.extra-mb {
    margin-bottom: $spacing-unit;
}

.upcoming {
    background: $blacker;
    padding-top: 10px;
    clear: both;
    text-align: center;
    width: 100%;

    h2 {
        font-size: $base-font-size;
        text-transform: uppercase;
        font-size: $small-font-size;
        font-weight: bold;
        letter-spacing: .1em;
        margin-bottom: 3px;
    }
}

.col-half {
    width: 50%;
    float: left;

    @include media-query($on-laptop) {
        width: 100%;
        float: none;
    }
}

.racebox {
    background: $purple;
    color: $white;
    padding: $spacing-unit*4 $spacing-unit;
    position: relative;

    h3 {
        font-size: $base-font-size*2;
        margin-bottom: 0;
        font-weight: bold;
    }

    .btn {
        margin-top: $spacing-unit;
    }

    a {
        color: $white;
    }
}

.racebox-1 {
    background: $green;
}

.faq-link {
    position: absolute;
    bottom: $spacing-unit;
    right: 0;
    left: 0;

    a {
        color: $white;
        text-decoration: underline;
    }
}

.registration-closed {
    max-width: 400px;
    margin: $spacing-unit auto 0 auto;
    background: $red;
    border: 3px solid $yellow;
    padding: $spacing-unit;
}

.contact {
    background: $yellow;
    padding: $spacing-unit;
    text-align: center;
    color: $black;

    a {
        color: #fff;
    }
}


/**
 * Site footer
 */
.site-footer {
    clear: both;
    text-align: center;
}

.logo-fogt {
    margin: 0 auto;
    max-width: 150px;
}

ul.social {
    list-style: none;
    text-align:center;
    margin: 0;
    background: $blacker;
    padding: 10px 0 5px;

    li {
        display: inline-block;
    }

    a {
        display: block;
        width: 40px;
        height: 40px;
    }

    svg {
        fill: $white;
        &:hover {
            fill: $blue;
        }
    }
}

.fogt {
    background: $blue;
    padding: $spacing-unit 15px;
}

.footer-heading {
    font-size: 18px;
    margin-bottom: $spacing-unit / 2;
}

.faq {
    padding: $spacing-unit*2 15px;
    text-align: left;
    background: $yellow;
    color: $black;
    margin-top: $spacing-unit*3;
    border: 15px solid $blacker;
    border-bottom: none;

    h1 {
        margin-bottom: $spacing-unit*2;
        font-weight: bold;
    }

    p {
        margin-bottom: $spacing-unit;
        padding-left: 15px;
    }

    a {
        color: $black;
    }
}



/**
 * Page content
 */
.page-content {
    padding: $spacing-unit 0;
}

.page-heading {
    font-size: 20px;
}

.post-list {
    margin-left: 0;
    list-style: none;

    > li {
        margin-bottom: $spacing-unit;
    }
}

.post-meta {
    font-size: $small-font-size;
    color: $grey-color;
}

.post-link {
    display: block;
    font-size: 24px;
}



/**
 * Posts
 */
.post-header {
    margin-bottom: $spacing-unit;
}

.post-title {
    font-size: 42px;
    letter-spacing: -1px;
    line-height: 1;

    @include media-query($on-laptop) {
        font-size: 36px;
    }
}

.post-content {
    margin-bottom: $spacing-unit;

    h2 {
        font-size: 32px;

        @include media-query($on-laptop) {
            font-size: 28px;
        }
    }

    h3 {
        font-size: 26px;

        @include media-query($on-laptop) {
            font-size: 22px;
        }
    }

    h4 {
        font-size: 20px;

        @include media-query($on-laptop) {
            font-size: 18px;
        }
    }
}

a.white {
 color: #fff;
}
